quizfreely.org {
        reverse_proxy localhost:8080
        handle_path /api/* {
                reverse_proxy localhost:8008
        }
        redir /discord https://discord.gg/6qQrybf6kG
}
www.quizfreely.org, quizfreely.com, www.quizfreely.com {
        redir https://quizfreely.org{uri} permanent
}
