quizfreely.org {
        reverse_proxy localhost:8080
        handle /api/* {
                reverse_proxy localhost:8008
        }
}
www.quizfreely.org {
        redir https://quizfreely.org{uri} permanent
}
quizfreely.com {
        redir https://quizfreely.org{uri} permanent
}
www.quizfreely.com {
        redir https://quizfreely.org{uri} permanent
}
