[Unit]
Description=Quizfreely Web
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
Restart=always
RestartSec=1
WorkingDirectory=/home/quizfreely/quizfreely/web/
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node --env-file=.env build/
TimeoutStopSec=1
User=quizfreely

[Install]
WantedBy=multi-user.target
