[Unit]
Description=Quizfreely API
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
Restart=always
RestartSec=1
WorkingDirectory=/home/quizfreely/quizfreely/api/
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node index.js
TimeoutStopSec=1
User=quizfreely

[Install]
WantedBy=multi-user.target
