.activityList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "a0 a0 b0 b0"
    "a1 a2 b1 b2";
  margin: 2rem 0px;
}

.activityList .a0 {
  grid-area: a0;
}

.activityList .b0 {
  grid-area: b0;
}

.activityList .a1 {
  grid-area: a1;
}

.activityList .a2 {
  grid-area: a2;
}

.activityList .b1 {
  grid-area: b1;
}

.activityList .b2 {
  grid-area: b2;
}

@media only screen and (max-width: 800px) {
  .activityList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
      "a0 a0"
      "a1 a2"
      "b0 b0"
      "b1 b2";
  }
}
