.table-end {
    background-color: var(--blueishFaded2) !important;
}

textarea {
    resize: vertical !important;
}

input[type="file"] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

h1 {
    color: var(--purpleish) !important;
}

.notice#success {
    border-color: var(--greem) !important;
    color: var(-greem) !important;
}
