.extra-table-end {
    background-color: var(--blueishFaded2) !important;
}

textarea {
    resize: vertical !important;
}

::file-selector-button {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
