.extra-table-end {
    background-color: var(--blueishFaded2) !important;
}

textarea {
    resize: vertical !important;
}

::file-selector-button {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.input-file {
    /*
    same properties as a simplecss button
    */
    border: none;
    border-radius: var(--standard-border-radius);
    background-color: var(--accent);
    font-size: 1rem;
    color: var(--bg);
    padding: 0.7rem 0.9rem;
    margin: 0.5rem 0;
}