<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10, user-scalable=1"
    />
    <title>Quizfreely</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <eta>~ data.themeCss </eta>
    <link rel="stylesheet" href="/assets/fonts/fonts.css" />
    <link
      rel="stylesheet"
      href="/assets/nerdfonts/css/webfont.css"
    />
  </head>

  <body>
    <eta>~ include("./partials/body-start", { theme: data.theme }) </eta>
    <eta>~ include("./partials/navbar", { page: "home", authed: data.authed, authedUser: data.authedUser }) </eta>
    <eta>~ include("./partials/noscript") </eta>
    <main>
      <div class="grid page">
        <div class="content">
            <div class="flex" style="margin-top:1rem;margin-bottom:2rem">
                <a href="/api/graphiql" class="button faint">
                    <i class="nf nf-dev-graphql"></i> Quizfreely-API GraphiQL
                </a>
                <eta> if (data.config.codeberg && data.config.gh) { </eta>
                    <a href="https://codeberg.org/<eta>= data.config.codeberg.owner </eta>/<eta>= data.config.codeberg.repo </eta>" class="button faint">
                        <i class="nf nf-linux-codeberg"></i> Codeberg Repo
                    </a>
                    <a href="https://github.com/<eta>= data.config.gh.owner </eta>/<eta>= data.config.gh.repo </eta>" class="button faint">
                        <i class="nf nf-dev-github_badge"></i> GitHub Repo
                    </a>
                <eta> } else { </eta>
                    <a href="https://codeberg.org/<eta>= data.config.codeberg.owner </eta>/<eta>= data.config.codeberg.repo </eta>" class="button faint">
                        <i class="nf nf-linux-codeberg"></i> Codeberg Repo
                    </a>
                    <a href="https://github.com/<eta>= data.config.gh.owner </eta>/<eta>= data.config.gh.repo </eta>" class="button faint">
                        <i class="nf nf-dev-github_badge"></i> GitHub Repo
                    </a>
                <eta> } </eta>
            </div>
            <eta> if (data.config?.enableGitRepoSyncStatus) { </eta>
            <div id="git-repo-sync-status" style="margin-bottom: 2rem">
                <p id="git-repo-sync-status-synced" class="hide">Codeberg and GitHub are both at <code id="git-repo-sync-status-synced-sha">...</code></p>
                <div id="git-repo-sync-status-outdated" class="hide">
                    <p>Codeberg is at <code id="git-repo-sync-status-outdated-codeberg-sha">...</code></p>
                    <div class="flex" style="gap: 2rem; margin-top: 0.4rem">
                        <div>
                            <p class="h6" style="margin-bottom: 0.2rem">Branch</p>
                            <p style="margin-top: 0.2rem">
                                <eta>= data.config.codeberg.branch </eta>
                            </p>
                        </div>
                        <div>
                            <p class="h6" style="margin-bottom: 0.2rem">Total commits</p>
                            <p style="margin-top: 0.2rem" id="git-repo-sync-status-outdated-codeberg-commit-count">...</p>
                        </div>
                        <div>
                            <p class="h6" style="margin-bottom: 0.2rem">Last committed</p>
                            <p style="margin-top: 0.2rem" id="git-repo-sync-status-outdated-codeberg-timestamp">...</p>
                        </div>
                    </div>
                    <p>GitHub is at <code id="git-repo-sync-status-outdated-gh-sha">...</code></p>
                    <div class="flex" style="gap: 2rem; margin-top: 0.4rem">
                        <div>
                            <p class="h6" style="margin-bottom: 0.2rem">Branch</p>
                            <p style="margin-top: 0.2rem">
                                <eta>= data.config.gh.branch </eta>
                            </p>
                        </div>
                        <div>
                            <p class="h6" style="margin-bottom: 0.2rem">Total commits</p>
                            <p style="margin-top: 0.2rem" id="git-repo-sync-status-outdated-gh-commit-count">...</p>
                        </div>
                        <div>
                            <p class="h6" style="margin-bottom: 0.2rem">Last committed</p>
                            <p style="margin-top: 0.2rem" id="git-repo-sync-status-outdated-gh-timestamp">...</p>
                        </div>
                    </div>
                </div>
            </div>
            <eta> } </eta>

            <eta> if (data.apiUp && data.apiResponseErrorNotJSON) { </eta>
                <div class="box ohno">
                    <p>Qzfr-API is running, but responded with invalid JSON</p>
                </div>
            <eta> } else if (data.apiUp && data.apiResponseErrorNoData) { </eta>
                <div class="box ohno">
                    <p>Qzfr-API is running, but responded with an error (and/or no data)</p>
                </div>
            <eta> } </eta>

            <eta> if (data.apiUp) { </eta>
            <h4>Quizfreely-API is <span class="yay">running</span></h4>
            <eta> } else { </eta>
            <h4>Quizfreely-API is <span class="ohno">down</span></h4>
            <eta> } </eta>
            <div class="flex" style="gap: 2rem;">
                <div>
                    <p style="margin-bottom: 0.2rem;">DB Connection</p>
                    <eta> if (data.dbConnectionUp) { </eta>
                    <p class="h4 yay" style="margin-top: 0.2rem;">Up</p>
                    <eta> } else if (data.apiUp) { </eta>
                        <p class="h4 ohno" style="margin-top: 0.2rem;">Down</p>
                    <eta> } else { </eta>
                        <p class="h4 fg0" style="margin-top: 0.2rem;">No Info</p>
                    <eta> } </eta>
                </div>
                <div>
                    <p style="margin-bottom: 0.2rem;">Cron Status</p>
                    <eta> if (data.apiUp && (data.apiCronAnyEnabled === true || data.apiCronAnyEnabled === false)) { </eta>
                        <eta> if (data.apiCronAnyEnabled) { </eta>
                            <eta> if (data.apiCronErrorCount >= 1) { </eta>
                                <p class="h4 ohno" style="margin-top: 0.2rem;">
                                    <eta>= data.apiCronErrorCount </eta> Errors
                                </p>
                            <eta> } else { </eta>
                                <p class="h4 yay" style="margin-top: 0.2rem;">No Errors</p>
                            <eta> } </eta>
                        <eta> } else { </eta>
                            <p class="h4 fg0" style="margin-top: 0.2rem;">Disabled</p>
                        <eta> } </eta>
                    <eta> } else { </eta>
                        <p class="h4 fg0" style="margin-top: 0.2rem;">No Info</p>
                    <eta> } </eta>
                </div>
            </div>
            
            <h4>Quizfreely-web is <span class="yay">running</span></h4>
            <div class="flex" style="gap: 2rem;">
                <div>
                    <p style="margin-bottom: 0.2rem;">Cron Status</p>
                    <eta> if (data.webCronAnyEnabled) { </eta>
                        <eta> if (data.webCronErrorCount == 1) { </eta>
                            <p class="h4 ohno" style="margin-top: 0.2rem;">
                                <eta>= data.webCronErrorCount </eta> Error
                            </p>
                        <eta> } else if (data.webCronErrorCount > 1) { </eta>
                            <p class="h4 ohno" style="margin-top: 0.2rem;">
                                <eta>= data.webCronErrorCount </eta> Errors
                            </p>
                        <eta> } else { </eta>
                            <p class="h4 yay" style="margin-top: 0.2rem;">No Errors</p>
                        <eta> } </eta>
                    <eta> } else { </eta>
                        <p class="h4 fg0" style="margin-top: 0.2rem;">Disabled</p>
                    <eta> } </eta>
                </div>
            </div>
        </div>
      </div>
    </main>
    <eta>~ include("./partials/footer") </eta>
    <eta> if (data.config.enableGitRepoSyncStatus) { </eta>
    <script src="/assets/js/fancyTimestamp.js"></script>
    <script>
        fetch("https://codeberg.org/api/v1/repos/<eta>= data.config.codeberg.owner </eta>/<eta>= data.config.codeberg.repo </eta>/commits?sha=<eta>= data.config.codeberg.branch </eta>&limit=1", {
            method: "GET"
        }).then(function (codebergRes) {
            fetch("https://api.github.com/repos/<eta>= data.config.gh.owner </eta>/<eta>= data.config.gh.repo </eta>/commits?sha=<eta>= data.config.gh.branch </eta>&per_page=1&page=1", {
                method: "GET"
            }).then(function (ghRes) {
                showGitRepoSyncStatus(
                    codebergRes,
                    ghRes
                )
            }).catch(ghApiError);
        }).catch(codebergApiError);

        function codebergApiError(error) {
            console.error(error);
            document.getElementById("git-repo-sync-status").classList.add("hide");
        }
        function ghApiError(error) {
            console.error(error);
            document.getElementById("git-repo-sync-status").classList.add("hide");
        }

        function showGitRepoSyncStatus(codebergApiResponse, ghApiResponse) {
            var codebergTotalCommitsCount = codebergApiResponse.headers.get("X-Total");
            var ghTotalCommitsCount = parseLastPageFromLinks(
                ghApiResponse.headers.get("Link")
            );
            codebergApiResponse.json().then(function (codebergApiResJSON) {
                ghApiResponse.json().then(function (ghApiResJSON) {
                    fancyTimestamp.hours = 24;
                    if (codebergApiResJSON[0].sha == ghApiResJSON[0].sha) {
                        document.getElementById("git-repo-sync-status-synced").classList.remove("hide");
                        document.getElementById("git-repo-sync-status-synced-sha").innerText = codebergApiResJSON[0].sha.substring(0, 11);
                        document.getElementById("git-repo-sync-status-synced-timestamp").innerText = fancyTimestamp.format(codebergApiResJSON[0].commit.committer.date);
                    } else {
                        document.getElementById("git-repo-sync-status-outdated").classList.remove("hide");
                        document.getElementById("git-repo-sync-status-outdated-codeberg-sha").innerText = codebergApiResJSON[0].sha.substring(0, 11);
                        document.getElementById("git-repo-sync-status-outdated-codeberg-timestamp").innerText = fancyTimestamp.format(codebergApiResJSON[0].commit.committer.date);
                        document.getElementById("git-repo-sync-status-outdated-codeberg-commit-count").innerText = codebergTotalCommitsCount;
                        document.getElementById("git-repo-sync-status-outdated-gh-sha").innerText = ghApiResJSON[0].sha.substring(0, 11);
                        document.getElementById("git-repo-sync-status-outdated-gh-timestamp").innerText = fancyTimestamp.format(ghApiResJSON[0].commit.committer.date);
                        document.getElementById("git-repo-sync-status-outdated-gh-commit-count").innerText = ghTotalCommitsCount;
                    }
                })
            })
        }

        function parseLastPageFromLinks(links) {
            /*
                The `Link` header looks something like this:
                <https://api.github.com/repositories/123/commits?sha=branch&per_page=1&page=2>; rel="next", <https://api.github.com/repositories/123/commits?sha=branch&per_page=1&page=161>; rel="last"

                we split it by the comma (`,`) to get an array of both links
                and then we use `.find(...)` to figure out which link has `rel="last"`
            */
            var lastLink = links.split(",").find(function (link) {
                return link.includes("rel=\"last\"");
            });
            /*
                Now we take the page number from the rel="last" link
                The url param will always start with `?` or `&`, thats why we have `[?&]` in this regex.
                We use `\d` in the regex to match until the numbers end.
            */
            var page = lastLink.match(/[?&]page=\d+/);
            /*
                Now we remove the `?page=` or `&page=` in the string
                remember that String.prototype.match() returns an array,
                so we use `[0]` to get the first (and only) string in the array
            */
            var pageNum = page[0].replace("?page=", "").replace("&page=", "");
            return pageNum;
        }
    </script>
    <eta> } </eta>
  </body>
</html>
