<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10, user-scalable=1"
    />
    <title><eta>= data.title </eta> - Quizfreely</title>
    <meta name="description" content="Quizfreely is a free and open source learning app with flashcards, practice tests, and more tools to help you study." />
    <meta name=”robots” content="index, follow" />
    <link rel="canonical" href="https://quizfreely.com/explore" />
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <eta>~ data.themeCss </eta>
    <link rel="stylesheet" href="/assets/fonts/fonts.css" />
    <link
      rel="stylesheet"
      href="/assets/nerdfonts/webfont.css"
    />
  </head>
  <body>
    <eta>~ include("./partials/body-start", { theme: data.theme }) </eta>
    <eta>~ include("./partials/navbar", { page: "explore", authed: data.authed, authedUser: data.authedUser }) </eta>
    <eta>~ include("./partials/noscript") </eta>
    <main>
      <div class="grid page">
        <div class="content">
          <h2 class="h4"><eta>= data.title </eta></h2>
          <div class="grid list" style="overflow-wrap:anywhere">
            <eta> data.rows.forEach(function (studyset) { </eta>
              <div class="box">
                <a href="/studysets/<eta>= studyset.id </eta>">
                  <eta>= studyset.title </eta>
                </a>
                <p class="h6" style="margin-top:0.4rem;margin-bottom:0px">
                  <eta>= studyset.user_display_name </eta>
                </p>
                <eta> if (studyset.terms_count >= 1) { </eta>
                <p class="h6" style="margin-top:0.2rem;margin-bottom:0.2rem">
                  <eta>= studyset.terms_count </eta> Terms
                </p>
                <eta> } </eta>
              </div>
            <eta> }) </eta>
          </div>
          <div class="combo-select">
            <a href="/<eta>= data.sectionUrl </eta>?p=1" class="button left">1</a>
            <eta> for (var i = 2; i < data.pagesTotal; i++) { </eta>
            <a href="/<eta>= data.sectionUrl </eta>?p=<eta>= i </eta>" class="button left"><eta>= i </eta></a>
            <eta> } </eta>
            <a href="/<eta>= data.sectionUrl </eta>?p=<eta>= data.pagesTotal </eta>" class="button right"><eta>= data.pagesTotal </eta></a>
          </div>
        </div>
      </div>
    </main>
    <eta>~ include("./partials/footer") </eta>
  </body>
</html>
