<div class="wave-top bg0"></div>
<footer class="background-bg0" style="border: none; margin: 0px; padding-top: 1rem; padding-bottom: 8rem;">
    <h2>Quizfreely</h2>
    <p>Quizfreely is free and open source</p>
    <p>
      Made by Ehan A & contributors
    </p>
    <div class="flex center compact-gap">
      <a href="https://codeberg.org/ehanahamed/quizfreely" class="button icon-only-button">
        <i class="nf nf nf-linux-codeberg"></i>
        Codeberg
      </a>
      <a href="https://github.com/ehanahamed/quizfreely" class="button icon-only-button">
        <i class="nf nf nf-dev-github_badge"></i>
        GitHub
      </a>
    </div>
    <div class="grid list" style="text-align: start; padding: 2rem; margin-top: 2rem">
      <div>
        <p class="h4">About</p>
        <div class="flex col compact-gap" style="width:fit-content">
          <a href="/homepage">Landing Page</a>
          <a href="/privacy">Privacy Policy</a>
          <a href="/terms">Terms of Service</a>
        </div>
      </div>
      <div>
        <p class="h4">Development</p>
        <div class="flex col compact-gap" style="width:fit-content">
          <a href="https://github.com/ehanahamed/quizfreely/issues">Issues & Bug Reports</a>
          <a href="https://codeberg.org/ehanahamed/quizfreely">Source code (Codeberg)</a>
          <a href="https://github.com/ehanahamed/quizfreely">Source code (GitHub)</a>
        </div>
      </div>
      <div>
        <p class="h4">Community</p>
        <div class="flex col compact-gap" style="width:fit-content">
          <a href="/discord">Discord</a>
          <a href="https://github.com/ehanahamed/quizfreely/discussions">GitHub Discussions</a>
        </div>
      </div>
    </div>
    <div style="text-align: start; padding: 0px 2rem">
      <p>
        Copyright © 2022-2024 Ehan Ahamed & contributors
        <br />
        <a href="/license">License</a>
      </p>
    </div>
</footer>
