[Unit]
Description=Quizfreely API
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
Restart=always
RestartSec=1
WorkingDirectory=/root/quizfreely/api/
ExecStart=/usr/bin/npm run start
TimeoutStopSec=1

[Install]
WantedBy=multi-user.target
