[Unit]
Description=Quizfreely Web
After=network.target
StartLimitBurst=3
StartLimitIntervalSec=10

[Service]
Restart=always
RestartSec=1
ExecStart=npm run --prefix /root/quizfreely/web start
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
